@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    background-image: url(./img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .top-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 8rem 10px 8rem;
    position: fixed;
    top: 0;
    background-color: #02020215;
    border-radius: 0px 0px 20px 20px;
}

header .top-header .logo {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    cursor: pointer;
}

header .top-header nav {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

header .top-header nav a:hover {
    font-weight: 600;
    font-size: 16px;
}

header .top-header nav .contact {
    background-color: white;
    color: black;
    padding: 8px 8px 8px 8px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    transition: all .3s linear;
    height: 35px;
}

header .top-header nav .contact:hover {
    font-size: 13.5px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.227);
}


header .main-header {
    display: flex;
    width: 100%;
    padding: 0px 8rem 0px 8rem;
    margin-top: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

header .main-header .texts {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}

header .main-header .texts h1{
    font-size: 1.8rem;
}

header .main-header .texts span{
    font-size: 1rem;
}

header .main-header .container-filters {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 50rem;
    height: 18rem;
    border-radius: 20px;
}

#app {
    background-color: #772121;
    width: 100%;
    display: flex;
    position: absolute;
    margin-top: auto;
    top: 31rem;
    left: 0;
}