@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9fafc;
}

button#verMaisBtn {
    background-color: #207FEE;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 30%);
    z-index: 1000;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    font-weight: 600;
    color: #fff;
    border-radius: 8px;
    transition: all .1s ease-in;
    cursor: pointer;
}

button#verMaisBtn:hover {
    background-color: #1557a2;
    /* Cor de destaque no hover, ajuste conforme desejado */
}

button#topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #207FEE;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    width: 50px;
    transition: all .1s ease-in;
    height: 50px;
    cursor: pointer;
}

button#topo:hover {
    background-color: #1557a2;
    font-size: 18px;
}

html, body {
    scroll-behavior: smooth;
}