@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9fafc;
}

button#verMaisBtn {
    background-color: #207FEE;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 30%);
    z-index: 1000;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    font-weight: 600;
    color: #fff;
    border-radius: 8px;
    transition: all .1s ease-in;
    cursor: pointer;
}

button#verMaisBtn:hover {
    background-color: #1557a2;
    /* Cor de destaque no hover, ajuste conforme desejado */
}

button#topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #207FEE;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    width: 50px;
    transition: all .1s ease-in;
    height: 50px;
    cursor: pointer;
}

button#topo:hover {
    background-color: #1557a2;
    font-size: 18px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    background-image: url(./img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .top-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 8rem 10px 8rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #0000001d;
    border-radius: 0px 0px 10px 10px;
}

header .top-header .logo {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fff;
    cursor: pointer;
}

header .top-header nav .contact {
    background-color: white;
    color: black;
    padding: 8px 8px 8px 8px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    transition: all .3s linear;
    height: 35px;
}

header .top-header nav .contact:hover {
    font-size: 13.5px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.227);
}


header .main-header {
    display: flex;
    width: 100%;
    padding: 0px 8rem 0px 8rem;
    margin-top: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

header .main-header .texts {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}

header .main-header .texts h1 {
    font-size: 1.8rem;
}

header .main-header .texts h1 span {
    font-size: 1.8rem;
    color: #207FEE;
}

header .main-header .texts span {
    font-size: 1rem;
}

header .main-header .container-filters {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 18rem;
    border-radius: 20px;
    flex-direction: column;
    gap: 17px;
}

header .main-header .container-filters .tipo {
    width: 100%;
    display: flex;
    gap: 20px;
}

header .main-header .container-filters .tipo button {
    width: 180px;
    border-radius: 30px;
    border: 2px solid black;
    height: 40px;
    font-weight: 600;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

header .main-header .container-filters .tipo button:hover {
    background-color: black;
    color: #fff;
}

header .main-header .container-filters .filtros {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

header .main-header .container-filters .filtros .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .main-header .container-filters .filtros .row select {
    width: 220px;
    border-radius: 10px;
    border: none;
    background-color: #EDEDED;
    height: 45px;
    font-size: 15px;
}

header .main-header .container-filters .botao {
    width: 100%;
    display: flex;
}

header .main-header .container-filters .botao button {
    width: 250px;
    border-radius: 10px;
    border: none;
    height: 45px;
    background-color: #207FEE;
    font-size: 15px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

header .main-header .container-filters .botao button:hover {
    background-color: #1557a2;
}

#app {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 60px;
    justify-content: center;
    position: absolute;
    top: 30rem;
    left: 0;
    padding: 4rem 8rem 4rem 8rem;
    width: 100%;
}

.casa-box {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    max-width: 260px;
    height: 340px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    box-shadow: 10px 4px 30px rgba(60, 62, 77, 0.234);
}

.casa-box:hover {
    transform: scale(1.03);
}

.box-image {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}

.box-image img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    object-position: 25% 25%;
}

.box-informations {
    width: 100%;
    padding: 5px 0px 5px 20px;
    display: flex;
    flex-direction: column;
}

.box-informations .tipo-casa {
    color: #207FEE;
    font-size: .8rem;
    font-weight: 700;
    margin-top: .3rem;
}

.box-informations h2 {
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: .5rem;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    text-overflow: ellipsis;
}

.box-informations .preco {
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: .3rem;
    color: #276915;
}

.box-informations .endereco {
    font-weight: 500;
    font-size: .9rem;
    margin-top: .5rem;
    color: #000000c4;
}

.box-informations div {
    font-weight: 600;
    display: flex;
    gap: 1rem;
    font-size: .9rem;
    margin-top: .4rem;
}

.box-informations div i {
    color: #207FEE;
}